*{
    margin:0px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #FFF6F4;;
}

main{
    margin-top: 70px;
    margin-left: 7%;
    margin-right: 7%;

    background-color: #FFF6F4;
}

header{
    position: sticky;
    display: flex;
    justify-content:center;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 2%;

}

<<<<<<< HEAD

=======
>>>>>>> 0779d3dff733fd6d841824a5cc48886fe19c49e3
/*fonte*/

h1{
    font-family: 'lato',sans-serif;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    color: #871101;
}

h2{
    font-family: 'lato', sans-serif;
    font-weight: lighter;
    color: #871101;
}

h3 /*plakat titel*/ {
    font-family: 'lato',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color:#871101;
    line-height: 20px;
}

h4 /*størrelse og pris*/ {
    font-family: 'lato', sans-serif;
    font-weight: lighter;
    color:#871101;
    color: #871101;
    line-height: 30px;
<<<<<<< HEAD

=======
>>>>>>> 0779d3dff733fd6d841824a5cc48886fe19c49e3
}

p{
    font-family: 'lato', sans-serif;
    color: #871101;
}

footer p{
   font-family: 'lato', sans-serif;
    color: white;
}

.brødtekst{
    font-family: 'oxygen', sans-serif;
    color: #871101;
    line-height: 1.5;
}

#overskrift{
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-top: 30%;
}

<<<<<<< HEAD
/*fake ikoner og mere*/
=======
/*ikoner*/

.mobilikoner a{
    display: flex;
    justify-content: space-between;
    height: 21px;
}
>>>>>>> 0779d3dff733fd6d841824a5cc48886fe19c49e3

.mobilikoner{
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    height: 21px;
    gap:10px;
    margin-top: 30px;
}

#laptopikoner{
    display: flex;
    justify-content: space-between;
    height: 21px;
    gap:10px;
    margin-top: 30px;
}

.logo{
    padding: auto;
}

.some{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
=======
    gap:10px;
    margin-top: 30px;
}

#burgermenu{
    height: 21px;
}

#laptopikoner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#laptopikoner a{
    display: flex;
    justify-content: space-between;
    height: 21px;
    margin-top: 30px;
}

.logo{
    padding-top: 10px;
>>>>>>> 0779d3dff733fd6d841824a5cc48886fe19c49e3
}

#bruger{
    text-align: center;
    margin-left: 20%;
}

#mail{
    text-align: left;
}

#logind{
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*knapper*/

a{
    font-family:'lato', sans-serif;
    text-decoration: none;
    color: white;
}

#glemt{
    font-family:'lato', sans-serif;
    text-decoration: none;
    color: #871101;
    margin-top: 10px;
}

.gråknap {
    border-style: none;
    border-radius: 20px;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: grey;
    font-size: 11px;
    color: white;
    /*font-size: 11px;*/
}

.gråknaplille{
    border-style: none;
    border-radius: 20px;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: grey;
    color: white;
    font-size: 11px;
}

.rødknap {
    border-style: none;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #871101;
}
    
#hvidknap{
    border-style: none;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color: #FFF6F4;
    
    color:#871101;
    font-weight: lighter;

   
    margin-left: 30%;
    background-color: white;
    color: #871101;
}

<<<<<<< HEAD
=======
#hvidknap2{
    border-style: none;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color: white;
    
    color:#871101;
    font-weight: lighter;
}

>>>>>>> 0779d3dff733fd6d841824a5cc48886fe19c49e3
#inspirationsknap{
    margin-left: 5%;
    margin-top: 30px;
}

/*billeder*/

#inspiration{
    width: 100%;
    margin: 0px;

    margin-bottom: 5%;
}

#karrusellaptop{
    display: flex;
    justify-content: center;
    
    margin-top: 10%;
    margin-bottom: 20%;
    width: 100%;
}

#billede1l{
    z-index: 0;
    transform: translateX(50%);
}

#billede2l{
    z-index: 0;
    transform: translateX(120%);
}

#billede3l{
    z-index: 1;
<<<<<<< HEAD
   
=======
    transform: translate(-105%, -10%);
}

#karruselmobil{
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 10%;
}

#temabilledemobil{
    background-image: url(images/tema_ingmar390px.png);
    height: 539px;
    width: 100%;
    margin-bottom: 10%;
}

#temabilledelaptop{
    background-image: url(images/ingmarbergman1500px.jpg);
    height: 878px;
    margin-bottom: 10%;
}

#temabilledelaptop h2{
    margin-left: 10%;
    background-color: transparent;
}

#temabilledelaptop .rødknap{
    margin-left: 10%;
>>>>>>> 0779d3dff733fd6d841824a5cc48886fe19c49e3
}

/*FORSIDE*/
.kort {
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-wrap: wrap;
}

.kort > section{
    width: 152px;
    height: 350px;
    margin-top:8%;
}

.filterogsorter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
}

.linje1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.linje3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* om plakaten */

.omplakat{
    width: 350px;
}

.omplakat .plakatlinje .gråknap{
   margin-left: 190px;
}

.plakatlinje {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    

    margin-top: 10px;
    margin-bottom: 60px;
}

.omplakaten{
    display: flex;
    justify-content: center;
    gap:10%;
    margin-bottom: 10%;
}

.tekstbox{
    width: 50%;
}

/*Min konto*/
#mail p{
    text-align: center;
}

.mail1{
    margin-right: 175px;
}

.password{
    margin-right: 160px;
}

/*footer*/

footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    background-color: #871101;
    margin-top: 10%;
}

footer section{
    flex-wrap: wrap;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 7%;
    margin-right: 12%;
    background-color: #871101;
}

footer section p{
    background-color: #871101;
}

<<<<<<< HEAD

/* --------RESPONSIVE WEBDESIGN-------- */


/* MOBIL: */
@media screen and (max-width:768px){
    #laptopmenu{
        display:none;
    }
    #mobilmenu{
        display:flex;
    }
    #karrusellaptop{
        display: none;
    }
}

/* LAPTOP: */
@media screen and (min-width:768px){
    #laptopmenu{
        display:flex;
    }
    #mobilmenu{
        display:none;
    }
    #karruselmobil{
        display: none;
    }

    #favoritter{
        display: flex;

=======
.some img{
    height: 70px;
    display: flex;

    justify-content: left;
}

#footerlaptop a{ 
    display: flex;
    justify-content: center;

    font-weight: bold;
    font-size: larger;
    background-color: #871101;
}

/*responsive*/
/* MOBIL: */
@media screen and (max-width:768px){
    #karrusellaptop{
        display: none;
    }

    #stillelivlaptop{
        display: none;
    }

    .omplakaten{
        display: flex;
        flex-wrap: wrap;

        justify-content: left;
    }

    #temabilledelaptop{
        display: none;
    }

    #laptopmenu{
        display:none;

    }
    #mobilmenu{
        display:flex}

    #footerlaptop{
        display: none;
    }
    }
        
/* LAPTOP: */
@media screen and (min-width:768px){
    #karruselmobil{
        display: none;
    }
    #stillelivmobil{
        display: none;
    }

    #temamobil{
        display: none;
    }

    #temabilledemobil{
        display: none;
    }

    #laptopmenu{
        display:flex;
    }

    #mobilmenu{
        display:none;
    }

    #favoritter{
        display: flex;}
>>>>>>> 0779d3dff733fd6d841824a5cc48886fe19c49e3
    }

}