*{
    margin:0px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #FFF6F4;;
}

main{
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 7%;

    background-color: #FFF6F4;
}

header{
    display: flex;
    justify-content:center;

    margin-top: 5%;
    margin-bottom: 2%;

}

.ikonerleft{
    display: flex;
    margin-right: 20%;
    gap: 10%;
}

.ikonerright{
    display: flex;
    margin-left: 20%;
    gap: 10%;
}

/*fonte*/

h1{
    font-family: 'lato',sans-serif;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    color: #871101;
}

h2{
    font-family: 'lato', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    color: #871101;
}

h3 /*plakat titel*/ {
    font-family: 'lato',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color:#871101;
}

h4 {
    font-family: 'lato', sans-serif;
    font-weight: lighter;
    color: #871101;

}

p{
    font-family: 'lato', sans-serif;
    color: #871101;
}

footer p{
    font-family: 'lato', sans-serif;
    color: white;
}

.brødtekst{
    font-family: 'oxygen', sans-serif;
    color: #871101;
}

#overskrift{
    display: flex;
    justify-content: space-between;

    margin-top: 30%;
}

/*fake ikoner og mere*/
#burgermenu{
    width: 30px;
    height: 30px;
    background-color: #871101;
    border-radius: 20px;
}

#serch{
    width: 30px;
    height: 30px;
    background-color: #871101;
    border-radius: 20px;
}

#favoritter{
    width: 30px;
    height: 30px;
    background-color: #871101;
    border-radius: 20px;
}

#kurv{
    width: 30px;
    height: 30px;
    background-color: #871101;
    border-radius: 20px;
}

#logo{
    width: 80px;
    height: 54px;
    background-color: #871101;
    border-radius: 20px;
}

.some{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
}

#bruger{
    text-align: right;
}

#mail{
    text-align: left;
}

#logind{
    display: flex;
    justify-content: space-between;
}

/*knapper*/

a{
    font-family:'lato', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.gråknap {
    border-style: none;
    border-radius: 20px;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: grey;
}

.rødknap {
    border-style: none;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #871101;
}

/*billeder*/

#inspiration{
    width: 100%;
    margin: 0px;

    margin-bottom: 5%;
}

#karrusellaptop{
    display: flex;
    justify-content: center;
    gap: 10%;
    
    margin-top: 10%;
    width: 100%;
}

#billede1l{
    z-index: 0;
    transform: translateX(50%);
}

#billede2l{
    z-index: 0;
    transform: translateX(120%);
}

#billede3l{
    z-index: 1;
<<<<<<< HEAD
    transform: translate(-105%, -10%);
}

#karruselmobil{
    display: flex;
    justify-content: center;

    width: 100%;
    
}

#tema{
    width: 100%;
=======
   
>>>>>>> cd9b681e84f0c8c2e1eb5caf8686bf4e2ff6c721
}

/*FORSIDE*/
.kort {
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-wrap: wrap;
}

.kort > section{
    width: 152px;
    height: 350px;
    margin:5%;
}

.FilterOGsorter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.linje1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.linje3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*footer*/

footer{
    display: flex;
    justify-content: space-between;

    background-color: #871101;
}

footer section{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 7%;
    margin-right: 7%;
    background-color: #871101;
}

footer section p{
    background-color: #871101;
}

/*responsive*/
/*mobil*/

@media screen and (max-width:1300px){
    #karrusellaptop{
        display: none;
    }

}

@media screen and (min-width:1300px){
    #karruselmobil{
        display: none;
    }

}




